/* styles.css */
body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #A9A9A9;
}

h1, h2 {
  color: #333;
}

p {
  color: #666;
}

.card {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.profile-picture {
  max-width: 75%;
  margin: 20px auto 0; /* Adjust the top margin to align with the heading */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-picture img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.profile-picture:hover img {
  transform: scale(1.1);
}
